<div class="events-container">
  <aside class="events-aside">
    <section class="events-list-section">
      <div class="date">
        <p class="font-bold"></p>
      </div>
      <div class="eventsList">
        <% events.forEach( el => { %>
                <div class='eventItem' data-id='<%=el.id%>'>
                    <span class="tag"><%= el.eventTitle %></span>
                    <span class="tag"><%= el.eventDescription %></span>
                    <span class="tag">Due on <%= el.startDate %></span>
                    <span class="tag"><%= el.endDate %></span>
                </div>                    
        <% }) %>    
    </div>
      <button id="openModal" class="open-events-modal">Add Event</button>
    </section>
    <section class="calendar-filters">
      <h3 class="calendar-filter-heading">My Calendars</h3>
      <div>
        <div>
          <input type="checkbox" name="personal" />
          <label class="filter" for="personal">Personal</label>
        </div>
        <div>
          <input type="checkbox" name="Class" />
          <label class="filter" for="Class">Class</label>
        </div>
        <div>
          <input type="checkbox" name="Events" />
          <label class="filter" for="Events">Events</label>
        </div>
      </div>
    </section>
  </aside>
</div>