<%-include("./partials/header.ejs")%>
<%-include("./partials/nav.ejs")%>
<!DOCTYPE html>
<html lang="en">
<body>
        <section class="todosSectionContainer">
        <section class="todosHeadingContainer">
            <h1 class="todosHeading">All Todos</h1> 
            <i class="fa-solid fa-plus openModal"></i>
        </section>
        <section class="todoListContainer">
                <div class="todoList">
                    <% todos.forEach( el => { %>
                            <div class='todoItem' data-id='<%=el._id%>'>
                                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span> 
                                <span class="tag"><%= el.todoDescription %></span>
                                <span class="tag"><%= el.listType %></span>
                                <span class="tag"><%= el.priority %></span>
                                <form action="/todos/deleteTodo/<%=el._id%>?_method=DELETE" method="POST" class="col-3">
                                    <div class="todoListIcons">
                                        <button class="fa-solid fa-trash del" aria-label="delete" type="submit"></button>
                                        <i class="fa-regular fa-pen-to-square openDetailsModal" data-id="<%=el._id%>" data-todo="<%= el.todo %>"  data-todoDescription="<%= el.todoDescription%>" data-listType="<%= el.listType%>" data-priority="<%= el.priority%>"></i>
                                    </div>
                                </form>
                            </div>     
               
                    <% }) %>    
                    <% if(todos.length == 0) { %>
                        <h1 class="no-todos-alert">No Todos!</h1>
                    <% } %>
                </div>
        </section>
        <section class="evaluation">
            <h2 class="evaluationHeading">Evaluation</h2>
            <div class="evaluationItemsContainer">
                <div class="itemsLeft">
                    <h3><%= left %> things to do.</h3>
                </div>
                <div class="itemsCompleted">
                    <h3><%= completed %> completed todos.</h3>
                </div>
            </div>
        </section>
    </section>
    <%-include("./partials/todoModal.ejs")%>
    <%-include("./partials/detailsModal.ejs")%>
    <script src="/js/main.js"></script>
</body>
</html>

